<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel="icon" href="/weather.png">

  <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Eu vo mata o romulo</p>
    <img class='portrait' src="https://pbs.twimg.com/media/D5u2hyeW4AEspMg.jpg" />
  </div>
  {{>footer}}

</body>

</html>